@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --base-color: #1e1e1ea0;
    --text-color: #f3f3f3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f3f3f3;
    --base-color: #f3f3f3a0;
    --text-color: #1e1e1e;
  }
}

:root {
  --container-color: oklch(from var(--background-color) calc(l * 1.2) c h);
  --hover-color: oklch(from var(--text-color) calc(l / 2) c h);
}

body {
  background: var(--background-color);
  margin: 0px;
  text-align: center;
  font-family: Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--text-color);
  margin: 0px;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

img {
  object-fit: contain;
}



/*  Header  */

header {
  margin-top: 100px;
  margin-bottom: 100px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
}



/*  Liks  */

.grid-container {
  margin-bottom: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-auto-rows: 200px;
  gap: 50px;
  grid-template-areas: 
  "link-1 link-2 link-3 link-3 link-4 link-4"
  "link-1 link-2 link-3 link-3 link-4 link-4"
  "link-5 link-5 link-6 link-7 link-8 link-8"
  "link-9 link-10 link-11 link-11 link-12 link-13"
  "link-9 link-14 link-14 link-15 link-12 link-16";
}

.box {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 20px;
  background-color: var(--container-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 20px;
}

.box img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.box h2 {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--base-color);
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  transition: all 0.1s ease-in-out;
}



/*  Trademark  */

.trademark {
  position: fixed;
  color: var(--hover-color);
  font-size: x-small;
  text-align: right;
  bottom: 5px;
  right: 5px;
}