@media (prefers-color-scheme: dark) {
  :root {
    --base-color: #1e1e1e;
    --text-color: #f3f3f3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --base-color: #f3f3f3;
    --text-color: #1e1e1e;
  }
}

:root {
  --container-color: oklch(from var(--base-color) calc(l * 1.2) c h);
  --hover-color: oklch(from var(--text-color) calc(l / 2) c h);
}

body {
  background: var(--base-color);
  margin: 0px;
  text-align: center;
  font-family: Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--text-color);
  margin: 0px;
}

img {
  object-fit: cover;
}

header {
  margin: 50px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.selection_summary {
  border-radius: 20px;
  display: flex;
  position: relative;
  background: var(--container-color);
}

.selection_summary svg {
  fill: var(--text-color);
  transition: 0.1s all ease-in-out;
}

.selection_summary svg:active {
  rotate: 90deg;
}

.selection_details {
  height: 100%;
  border-radius: 20px;
  position: absolute;
  height: 64px;
  top: 10px;
  left: 5%;
}

.selection_ul {
  padding: 10px;
  position: absolute;
  list-style: none;
  cursor: default;
  text-align: left;
  background: var(--container-color);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.selection_li {
  padding: 10px 5px;
  width: 100%;
  min-width: max-content;
  border-radius: 10px;
  cursor: pointer;
}

.selection_li:hover {
  box-sizing: border-box;
  background-color: #52536144;
}

.spacing {
  width: 117px;
  height: 118px;
}

.title {
  object-fit: cover;
  width: 500px;
  margin: 0 auto;
}

.container_sezione {
  max-width: 80%;
  display: inline-flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.sezione {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 20px;
  cursor: pointer;
  background: var(--container-color);
}

.sezione:hover .titolo_sezione {
  color: var(--hover-color);
}

.sezione_header {
  background: var(--container-color);
  border-radius: 20px;
  cursor: pointer;
}

.sezione_header img {
  cursor: pointer;
}

.sezione_header_speciale {
  cursor: pointer;
}

.immagine_sezione,
.immagine_sezione_speciale {
  margin: 20px;
  width: 100px;
}

.immagine_sezione_speciale {
  border-radius: 20px;
}

.immagine_sezione_account,
.immagine_sezione_account_speciale,
.immagine_sezione_logo {
  margin: 20px;
  width: 75px;
}

.immagine_sezione_account_speciale {
  border-radius: 20px;
}

.immagine_sezione_logo {
  cursor: default;
}

.titolo_sezione {
  padding-top: 25px;
  transition: all 0.1s ease-in-out;
}

.researc {
  width: 80%;
  display: inline-flex;
  flex-wrap: nowrap;
  border-radius: 20px;
  margin: 15px 15px 50px 15px;
  justify-content: center;
  background: var(--container-color);
  backdrop-filter: blur(10px);
  align-items: center;
  cursor: pointer;
  position: sticky;
  top: 25px;
}

.researc:hover .researc_svg {
  fill: var(--hover-color);
}

.researc_svg {
  fill: var(--text-color);
  margin-right: auto;
  margin-left: 25px;
  transition: all 0.1s ease-in-out;
}

.researc_img {
  height: 24px;
  padding: 25px;
  transition: all 0.1s ease-in-out;
}

.made {
  position: fixed;
  color: var(--hover-color);
  font-size: x-small;
  text-align: right;
  bottom: 5px;
  right: 5px;
}
